*, ::after, ::before {
 box-sizing: border-box;
}


body{
 margin: 0;
 padding: 0;
 height: 100vh;
 width: 100%;
 display: flex;
 color: #FFF;
 align-items: center;
 justify-content: center;
 font-family: 'Roboto', sans-serif;
 background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
 font-size: 60px;
 font-style: italic;
 margin-bottom: 15px;
}
p{
 font-size: 20px;
 font-weight: lighter;
}

.text-center{
 text-align: center;
}

h5{
 font-weight: normal;
 margin-top: 30px;
 font-size: 20px;
}